version: '3.8'

services:
  postgres:
    image: postgis/postgis:16-master # postgres with PostGis (coordinates, etc. enabled)
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE:-offlinery}
      POSTGRES_USER: ${DB_USER:-offlinery}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-offlinery}
      #POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
      #POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    #volumes:
     # - postgres_data:/var/lib/postgresql/data
    ports:
      - '${DB_PORT:-5432}:5432'
    networks:
      - app_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER:-offlinery} -d ${DB_DATABASE:-offlinery}']
      interval: 10s
      timeout: 5s
      retries: 5
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: always
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USER:-admin}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD:-adminpassword}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG:-offlinery}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET:-logs}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN:-your-super-secret-admin-token}
    ports:
      - '127.0.0.1:8086:8086'  # Only allow local connections
    networks:
      - app_network
    healthcheck:
      test: [ "CMD", "influx", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
  postgres_test:
    image: postgis/postgis:16-master
    container_name: postgres_test
    restart: always
    environment:
      POSTGRES_DB: test_offlinery
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      TZ: 'UTC'
      POSTGRES_INITDB_ARGS: '--timezone=UTC'
    ports:
      - '5433:5432'
    networks:
      - app_network
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U test_user -d test_offlinery' ]
      interval: 10s
      timeout: 5s
      retries: 5
  db_ui:
    container_name: db-ui
    image: dpage/pgadmin4
    restart: on-failure
    environment:
      PGADMIN_DEFAULT_EMAIL: ${DB_UI_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${DB_UI_PASSWORD:-abc}
      PGADMIN_LISTEN_PORT: ${DB_UI_PORT:-8091}
    ports:
      - ${DB_UI_PORT:-8091}:${DB_UI_PORT:-8091}
    networks:
      - app_network
    depends_on:
      - postgres

 # backend:
 #   image: of-backend
 #   build:
 #     context: .
 #     dockerfile: Dockerfile
 #   ports:
 #     - 3000:3000
 #   env_file:
 #     .env
 #   networks:
 #     - app_network
 #   depends_on:
 #     - postgres
 #   restart: on-failure

# TODO: Later on, for MVP use in-memory store for cheaper hosting
#  redis:
#    image: redis:6.2-alpine
#    container_name: redis
#    restart: always
#    volumes:
#      - redis_data:/data
#    ports:
#      - "6379:6379"
#    networks:
#      - app_network
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      interval: 10s
#      timeout: 5s
#      retries: 5

networks:
  app_network:
    driver: bridge

#volumes:
#  postgres_data:
#  redis_data:
#  influxdb_data:
