name: Android E2E Tests

on:
  release:
    types: [created]

jobs:
  android-e2e-tests:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./mobile

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: |
          pnpm install:all
          pnpm add -g expo-cli@latest eas-cli

      - name: Install Maestro
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        with:
          sdk-version: '30'

      - name: Accept Android SDK licenses
        run: yes | sdkmanager --licenses

      - name: Setup Android emulator
        run: |
          sdkmanager "system-images;android-30;google_apis;x86"
          echo "no" | avdmanager create avd --force --name test --package "system-images;android-30;google_apis;x86"

      - name: Build Android app
        env:
          EXPO_PUBLIC_ENVIRONMENT: production
        run: |
          pnpm android

      - name: Start Android emulator and run Maestro tests
        env:
          EXPO_PUBLIC_ENVIRONMENT: production
        run: |
          $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-window &
          adb wait-for-device
          adb shell input keyevent 82
          pnpm e2e:android:test

      - name: Upload test artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: maestro-test-results
          path: |
            ~/.maestro/tests
            /tmp/maestro